staticfiles/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
db.sqlite3
*.log
venv/
env/

# Environment variables
.env
.env.*

# SSL/TLS certificates and keys
*.pem
*.key
*.crt
*.cer
*.p12
*.pfx

# IDE settings
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
