.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px; 
}

.attendance-container-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
    margin-top: 30px;
}

.attendance-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 0 0 calc(33.333% - 20px); 
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}


.attendance-container:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}


@media (max-width: 900px) {
    .attendance-container {
        flex: 0 0 calc(50% - 20px); 
    }
}

@media (max-width: 600px) {
    .attendance-container {
        flex: 0 0 100%; 
    }
}

.attendance-date {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.attendance-section {
    margin-top: 10px;
}

.attendance-section h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.present-list li {
    color: #28a745;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.absent-list li {
    color: #dc3545; 
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.present-list li:last-child, .absent-list li:last-child {
    border-bottom: none;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin: 20px 0; 
    text-align: center; 
}

.form-label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px; 
}

.form-select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 250px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.form-select:focus {
    border-color: #007BFF; 
    outline: none; 
}

@media (max-width: 600px) {
    .form-select {
        width: 100%; 
    }
}
