.container {
    max-height: 100vh; 
    overflow-y: auto; 
    padding: 20px; 
    background-color: #f9f9f9; 
}

.payment-plans-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
    padding: 20px; 
}

.payment-plan-container {
    border: 1px solid #ddd;
    padding: 15px; 
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    flex: 0 0 calc(50% - 20px); 
    max-width: 400px; 
    position: relative;
}

.payment-plan-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.plan-details {
    margin-bottom: 10px;
}

.plan-info {
    margin-bottom: 5px;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.plan-info:hover {
    background: rgba(0, 123, 255, 0.2); 
}

.plan-info strong {
    color: #007bff;
}

.icon {
    position: absolute;
    top: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.1);
}

.trash-icon {
    right: 40px;
    color: #dc3545;
}

.edit-icon {
    right: 10px;
    color: #007bff;
}

.fab {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    background-color: #007BFF;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.fab:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

@media (max-width: 900px) {
    .payment-plan-container {
        flex: 0 0 calc(50% - 20px); 
    }
}

@media (max-width: 600px) {
    .payment-plan-container {
        flex: 0 0 calc(100% - 20px); 
    }
}