.container {
    max-height: 100vh; 
    overflow-y: auto; 
    padding-bottom: 20px; 
}


.students-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
    padding: 20px; 
}

.student-photo {
    width: 80px; 
    height: auto; 
    margin-left: 10px; 
}

.search-bar {
    margin: 20px 0; /* Add spacing above and below the search bar */
    display: flex;
    justify-content: center; /* Center the search input */
}

#searchInput {
    width: 100%; /* Make it responsive */
    max-width: 400px; /* Limit the maximum width */
    padding: 10px; /* Add padding for better touch target */
    border: 1px solid #ddd; /* Border color */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
    font-size: 16px; /* Font size for better readability */
    transition: border-color 0.3s, box-shadow 0.3s; /* Transition for interactive feedback */
}

#searchInput:focus {
    border-color: #007bff; /* Change border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Highlight the input when focused */
    outline: none; /* Remove default outline */
}


.student-container {
    border: 1px solid #ddd;
    padding: 15px; 
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    flex: 0 0 calc(50% - 20px); 
    max-width: 380px;
    min-width: 380px;
    position: relative;
}

.student-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.student-details {
    margin-bottom: 10px;
}

.student-info {
    margin-bottom: 5px;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.student-info:hover {
    background: rgba(0, 123, 255, 0.2); 
}

.student-info strong {
    color: #007bff;
}

.icon {
    position: absolute;
    top: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.1);
}

.trash-icon {
    right: 40px;
    color: #dc3545;
}

.edit-icon {
    right: 10px;
    color: #007bff;
}

.fab {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    background-color: #007BFF;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.fab:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}


@media (max-width: 900px) {
    .student-container {
        flex: 0 0 calc(50% - 20px); 
    }
}

@media (max-width: 600px) {
    .student-container {
        flex: 0 0 calc(100% - 20px); 
    }
}



