.container {
    padding: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    max-width: 800px;
    margin: 50px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 50vh; 
}


#reader {
    width: 100%;
    max-width: 640px;
    height: 100%; 
    aspect-ratio: 4 / 3;
    margin: 20px 0;
    background-color: #ffffff;
    display: flex; 
    justify-content: center; 
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative; 
    overflow: hidden; 
}

#reader video {
    width: 100%; 
    height: 100%; 
    border-radius: 10px; 
    border: 2px solid #ccc; 
    position: absolute; 
    top: 0; 
    left: 0; 
}

@media (max-width: 768px) {
    .container {
        padding: 20px; 
        height: 80vw;
    }

    #reader {
        max-width: 100%; 
        height: 100%; 
        aspect-ratio: 4 / 3; 
    }
}