.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: #ffffff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 500px;
    animation: fadeIn 0.3s;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

input[type="text"] {
    width: 94%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

button[type="submit"] {
    
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



.fab {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}


.fab:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

.fab-icon {
    font-size: 25px; 
    font-weight: 400;
    text-shadow: none; 
    color: inherit;
}



.section-title {
    margin-bottom: 20px;
}

.taxh-list {
    list-style-type: none;
    padding: 0;
}

.taxh-item {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.taxh-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.delete-button:hover {
    background-color: #c82333; 
}

.student-selection {
    margin-top: 10px;
}

.student-select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.add-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.add-button:hover {
    background-color: #0056b3; 
}

.student-list {
    margin-top: 10px;
}


.student-list input[type="checkbox"] {
    display: none; 
}

.student-list input[type="checkbox"] + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}

.student-list input[type="checkbox"] + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px; 
    height: 16px; 
    border-radius: 4px;
    border: 2px solid #007BFF; 
    background-color: #fff; 
    transition: background-color 0.3s, border-color 0.3s;
}

.student-list input[type="checkbox"]:checked + label::before {
    background-color: #51ff00;
    border-color: #35c800; 
}

.student-list input[type="checkbox"]:checked + label::after {
    content: '✔'; 
    position: absolute;
    left: 2px; 
    top: 50%;
    transform: translateY(-50%);
    color: white; 
    font-size: 12px; 
}

.student-list input[type="checkbox"]:not(:checked) + label::before {
    background-color: red; 
}

.student-list input[type="checkbox"]:not(:checked) + label::after {
    content: '✖'; 
    position: absolute;
    left: 2px; 
    top: 50%;
    transform: translateY(-50%);
    color: white; 
    font-size: 12px; 
}

.student-list li {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    margin: 5px 0; 
    height: 25px; 
}

.delete-confirm-button {
    display: none;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.delete-confirm-button:hover {
    background-color: #c82333;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.delete-confirm-button:active {
    background-color: #bd2130;
    transform: translateY(0);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.show-confirm-button {
    display: inline-block;
    animation: fadeIn 0.3s ease-in-out;
}

